*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(1, 23, 41);
    color: rgb(210, 210, 210);
}

.top-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(10, 10, 10) 40%, rgb(1, 23, 41));
}

.header{
    display:flex;
    padding: 20px;
    color: rgba(210, 210, 210, 0.9);
}

.navigation{
    display: flex;
    gap: 30px;
    padding-bottom: 15px;
}

.welcome-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    margin-top: 75px;
}

.welcome-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.75);
    height: 100%;
    width: 60%;
    border-radius: 15px;
    padding: 20px;
}

.welcome-article{
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    color: rgba(203, 203, 203, 0.85);
    animation: bob 5s ease-in-out infinite;
    margin-top: 1000px;
}

.welcome-socials img{
    display: flex;
    flex-direction: row;
    height: 5%;
    opacity: 0.5;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}

.welcome-socials img:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}