*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(1, 23, 41);
    color: rgb(210, 210, 210);
}

.top-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(10, 10, 10) 40%, rgb(1, 23, 41));  
}

.navigation a{
    text-decoration: none;
    color: rgba(210, 210, 210);
}

.navigation h3:hover{
    animation: floatUp 1s ease forwards;
}

.navigation h3:not(:hover){
    animation: floatDown 1s ease forwards;
}
.header{
    display:flex;
    padding: 20px;
    color: rgba(210, 210, 210, 0.9);
}

.navigation{
    display: flex;
    gap: 30px;
    padding-bottom: 15px;
}

.welcome-content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 60vh;
}

.welcome-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 50vw;
}

.welcome-text{
    font-size: 3rem;
    animation: bob 3s infinite;
    border-bottom: solid 5px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.75)
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.aboutme-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
    height: 100vh;
    gap: 10vw;
}

.aboutme-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 75vh;
    width: 40vw;
    font-size: 1.5rem;
}

.aboutme-text h1{
    margin-bottom: 15px;
}

.aboutme-text p{
    line-height: 1.4;
    border-bottom: solid 5px rgba(255, 255, 255, 0.75);
    padding-bottom: 5px;
}

.aboutme-image{
    display: flex;
    align-items: center;
    height: 75vh;
    width: 40vw;
}

.aboutme-image img{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes floatDown {
  0% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}